.titleContainer {
    width: 20%;
    height: 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    &>h1{
       font-size: 2rem; 
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-block: 20px;

}

.cars {
    width: 300px;
    height: auto;
    display: grid;
    background: rgb(146, 54, 54);

    &>h2 {
        display: grid;
        justify-content: center;
    }

    &>img {
        width: 280px;
        margin: 0 auto;
    }
}