
.main {
      display: grid;
    // justify-items: center;
    // margin: 0 20px;
    height: 100vh;
  &>h1{
    position: absolute;
    top: 13%;
left: 5%;
    font-size: 3rem;
    // margin: 10px;
    color: #ffffff;
animation-name: position-Y;
    animation-duration: 4s;
    z-index: 1;



    @keyframes position-Y {
        0% {
            transform: translateX(100%);
        }
    
        100% {
            transform: translateX(0);
        }
    }
}
  }

  

